@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}
.portrait {
  border-radius: 50%;
  width: 13.8888888889vw;
  height: 13.8888888889vw;
  box-shadow: 0 4px 12px rgb(0 0 0 / 25%);
}
.photographer_section article .location {
  /* line-height: 1.1805555556vw;*/
  margin-bottom: 3px;
  color: #901c1c;
  margin: 4px 0 4px 0;
  font-size: 20px;
  /*font-weight: 800;*/
}
.photographer_section article {
  text-align: center;
}
.photographer_section article .name {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 40px;
  /*font-weight: 400;*/
  /*line-height: 3.2638888889vw;*/
}
.photographer_section article .tagline {
  /*margin: 0.2083333333vw auto;*/
  font-size: 16px;
  font-weight: 400;
  margin: 4px 0 4px 0;
  /*line-height: 0.9027777778vw;*/
}
.photographer_section article .price {
  margin: 4px 0 4px 0;
}

@media screen and (max-width: 540px) {
  .logo {
    margin-left: 10px;
    height: 40px;
  }
  h1 {
    margin-right: 10px;
  }
}

.photographer_section article a {
  text-decoration: none;
}
